// Override color theme variables

$pink: #f96599;
$orange: #f6610e;
$yellow: #f6f418;
$black: #272727;
$blue: #90a9b7;

$body-bg: $black;
$body-color: $orange;

$theme-colors: (
  "primary": $orange,
  "secondary": $yellow,
  "info": $orange,
  "success": $pink,
  "warning": $yellow,
  "danger": $orange,
);

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

header {
  overflow: hidden;
  background-color: $body-bg;
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  display: flex;
  padding-bottom: 500px;
}

#main {
  margin-top: 275px;
}

.navbar {
  .nav-item.active {
    font-weight: bold;
  }

  .nav-link {
    color: $orange;

    &:hover,
    &:focus {
      color: $yellow;
    }
  }
}

#footer-socials {
  left: 0em;
  position: fixed;
  bottom: 0em;
}

.footer-vision {
  right: 0em;
  position: fixed;
  bottom: 0em;
}
