// Override color theme variables
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$pink: #f96599;
$orange: #f6610e;
$yellow: #f6f418;
$black: #272727;
$blue: #90a9b7;

$body-bg: $black;
$body-color: $orange;

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $orange,
    "secondary": $yellow,
    "info": $orange,
    "success": $pink,
    "warning": $yellow,
    "danger": $orange,
  )
);

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

header {
  overflow: hidden;
  background-color: $body-bg;
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  display: block;
  padding-bottom: 450px;
}

#main {
  margin-top: 275px;
}

.navbar {
  .nav-item.active {
    font-weight: bold;
  }

  .nav-link.active {
    // Remove "pill" style. (I tried removing the `nav-pills` class, but that
    // broke the scrollspy behavior.)
    background-color: transparent;
    color: $yellow;
    font-weight: bold;
    font-size: 1.05em;
    position: relative;
    top: -1px;
  }

  .nav-link {
    color: $orange;

    &:hover,
    &:focus {
      color: $yellow;
    }
  }
}

#footer-socials {
  a {
    text-decoration: none;
  }

  i {
    color: $orange;
    padding: 5px;
    &:hover {
      color: $yellow;
    }
    &:visited {
      color: $orange;
    }
  }

  left: 0em;
  position: fixed;
  bottom: 0em;
  font-size: 1.2em;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: $black;
}

.footer-vision {
  right: 0em;
  position: fixed;
  bottom: 0em;
}
